# data and figures/period_results will be downloaded from globus
data
figures/period_results
figures/cur_plot_datasets
plots
__pycache__
wandb
out
sr_out
models
data_bundle.tar.gz
data_bundle.tar.gz.sha256

# ignore everything in these folders
pickles/**
sr_results/**
results/**
figures/five_planet_figures/**
graphics/**

# but include a few models we want to upload, results, plots, etc
!graphics/pareto_comparison.pdf
!graphics/pareto_fig1.svg

!results/
!results/24880_0/*
!results/24880_0/

!results/28114_0/*
!results/28114_0/

!results/12318_0/*
!results/12318_0/

!results/74649_0/*
!results/74649_0/

!results/11566_0/*
!results/11566_0/

!results/72646_0/*
!results/72646_0/

!results/4014_0/*
!results/4014_0/

!results/22649_0/*
!results/22649_0/

!results/13523_0/*
!results/13523_0/

!results/22697_0/*
!results/22697_0/

!results/8880_0/*
!results/8880_0/

!results/21130_0/*
!results/21130_0/

!sr_results/11003.pkl
!sr_results/11003.pkl
!sr_results/72420.pkl
!sr_results/41564.pkl
!sr_results/93102.pkl
!sr_results/83941.pkl
!sr_results/93890.pkl
!sr_results/93102.pkl
!sr_results/49636.pkl
!sr_results/94842.pkl
!sr_results/42503.pkl

!pickles/nn_results_all_24880.pkl
!pickles/nn_results_all_28114.pkl
!pickles/nn_results_all_12318.pkl
!pickles/nn_results_all_74649.pkl
!pickles/nn_results_all_11566.pkl
!pickles/nn_results_all_72646.pkl
!pickles/nn_results_all_4014.pkl
!pickles/nn_results_all_22649.pkl
!pickles/nn_results_all_13523.pkl
!pickles/nn_results_all_22697.pkl
!pickles/nn_results_all_8880.pkl

!pickles/pysr_results_all_24880_11003.pkl
!pickles/pure_sr_results_all_72420.pkl
!pickles/pysr_results_all_28114_41564.pkl
!pickles/pysr_results_all_12318_93102.pkl
!pickles/pure_sr_results_all_83941.pkl
!pickles/pysr_results_all_28114_93890.pkl
!pickles/pysr_results_all_24880_93102.pkl
!pickles/pysr_results_all_74649_49636.pkl
!pickles/pysr_results_all_11566_94842.pkl
!pickles/pysr_results_all_72646_42503.pkl
!pickles/petit_results_all.pkl

!figures/five_planet_figures/five_planet_main.pdf
!figures/five_planet_figures/five_planet_all.pdf
!figures/five_planet_figures/v24880_pysr11003_ms=29_N=5000_turbo_extrapolate.csv
!figures/five_planet_figures/v24880_pysr72420_ms=50_N=5000_turbo_extrapolate.csv
!figures/five_planet_figures/v28114_pysr41564_ms=35_N=5000_turbo_extrapolate.csv
